AIRFLOW_UID=

FERNET_KEY=

AIRFLOW__CORE__LOAD_EXAMPLES=False

# Path credential di dalam container Airflow
GOOGLE_CREDENTIAL=/opt/airflow/config/credentials.json

# Ganti dengan Google Drive Folder ID masing-masing
GOOGLE_FOLDER_ID=YOUR_GOOGLE_DRIVE_FOLDER_ID

POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DATABASE
POSTGRES_HOST=postgres
POSTGRES_PORT=5432