# Airflow
logs/

# Dataset
data/raw/
data/processed/

# Environment
.env

# Google Credentials
credentials.json
**/credentials.json

# Database Dump
airflow-magang.sql

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml

# Python
__pycache__/
*.pyc

# VS Code
.vscode/